<header class="page-header">
  <h1>Admin » Dashboard</h1>
</header>

<div class="dashboard">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge badge-primary badge-pill"><%= @products_total %></span>
      Products
    </li>
    <li class="list-group-item">
      <span class="badge badge-primary badge-pill"><%= @categories_total %></span>
      Categories
    </li>
  </ul>